* {
    margin: 0;
    padding: 0;    
    font-family: 'Abel', sans-serif;
}


.header{
    background-color: rgb(33, 37, 41);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color:white; 
}

.logotipo{
    display: flex;
    justify-content: center;
    padding-left: 18%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.cartwidget{
    padding-left: 20%;
}



#root{
    background-color:rgb(255, 255, 255); 
    margin: 0px auto;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    gap: 25px;
    padding: 40px;
    margin: 0px auto;

}

.leyendaContainer, .parrafoNumeroDeOrden{
    padding-top: 20px;
    margin: 0 auto;
    width:450px;
}


.formulario {
    background-color: rgb(246, 246, 246);
    width:450px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;  
    padding-bottom: 20px;
}

.formularioPie {
    background-color: rgb(246, 246, 246);
    width:450px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;  
    padding-bottom: 20px;
    margin-bottom: 40px;
}



.container-formulario{
    padding-top: 30px;
    padding-bottom: 30px;
}



.formulario fieldset {
    border:none;

}

.formulario legend {
    color: #ffff;
    text-align:left;
    font-size:18px;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 10px;

}

.campo label{
    color: rgb(33, 37, 41);
    font-weight:bold;
    margin-bottom: 5px;
    display: block; 
}



.input{
    width: 100%;
    border: 1px solid black;
    padding-left: 5px;
}

.inputp{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding-left: 5px;
    height: 25px;
}



.inputOrden{
    width: 72%;
    border: 1px solid black;
    padding-left: 5px;
}

.botonEnviar {
    background-color:  rgb(33, 37, 41) ;
    color:#ffff;
    font-size: 20px;
    padding: 10px 30 px;
    margin-top: 30px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    text-align: center;
}



.mainCart{
    gap: 25px;
    padding: 20px;
}

.css-1idwstw h2{
    font-size: 20px;
}

.css-1idwstw h3{
    font-size: 15px;
}

.link{
    color: black;
}

.counter h3{
    font-size: 16px;
}

.descripcion h3{
    font-size: 16px;
}

img{
    width: 180px;
    height: 55px;
}

.btnCard{
    width: 150px;
}

.spinner{
    display:Flex;
    max-width:1000px ;
    max-height: 1000px;
    margin: 300px auto;
    justify-content: center;
    align-items: center;
}

.btnAddToCart{
    justify-content: center;
    padding: 10px 0px;
}

.btnCounter{
    justify-content: center;
    gap: 5px;
}

.btnSignos{
    width: 50px;
    height: 40px;
    color: white;
    font-size: 18px;
    background-color:rgba(33, 37, 41);
    border-radius: 5px;
}



.btnDetalles {
    color: white;
    font-size: 18px;
    background-color:rgba(33, 37, 41);
    height: 40px;
    width: 150px;
    border-radius: 5px;
}

.btnEliminar{
   background-color: rgba(33, 37, 41); 
   color: white;
   width: 100px;
   height: 40px;
   justify-content: center;
   border-radius: 5px;
   
}

.btnCheckout{
    background-color: rgba(33, 37, 41); 
    color: white;
    width: 200px;
    height: 40px;
    justify-content: center;
    border-radius: 5px;
}

.btnDelete , .btnAgregar{
    margin-right: 8px;
    width: 160px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color:rgb(33, 37, 41);
    border-radius: 5px;
}


.btnItemCount{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrito{
    width: 35px;
    height: 35px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px ;
    width:250px;
    
}

.cardDetailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  40px 0px;
}



.bf-ui-separator {
    background: rgb(33, 37, 41);
    height: 1px;
    margin: 0;
    width: 100%;
}


 .gridCartContainer {
    background-color:white;
    display:grid;
    margin: 0 auto ;
    justify-items: center;
    align-items: center;
    max-width: 700px;
    gap:10px;
    grid-template-columns:  150px 100px 100px 150px 100px;
    grid-template-rows: 40px 2px 100px 2px 35px;
    border-radius: 10px;
    border: 5px black;
}


.cartItem h2{
    font-size: 20px;
}

.cartItem{
    align-items: center;
}


.gridCartContainer  .cartItem:nth-child(1) {
    justify-self: start;
    grid-column: 1/6; 
    grid-row: 1/2;  
    padding-top: 20px;
    padding-left: 20px;
}

.gridCartContainer .cartItem:nth-child(2){
    grid-column: 1/6;
    grid-row: 2/3;  

}


.gridCartContainer  .cartItem:nth-child(3) {
    grid-column: 1/2; 
    grid-row: 3/4;
   padding-bottom: 20px;
}

.gridCartContainer  .cartItem:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/4;  

}

.gridCartContainer  .cartItem:nth-child(5){
    grid-column: 3/4;
    grid-row: 3/4;  
}

.gridCartContainer  .cartItem:nth-child(6){
    grid-column: 4/5;
    grid-row: 3/4; 
    padding-right: 20px; 
}

.gridCartContainer  .cartItem:nth-child(7){
    grid-column: 5/6;
    grid-row: 3/4; 
}

.gridCartContainer .cartItem:nth-child(8){
    grid-column: 1/6;
    grid-row: 4/5;
} 
.gridCartContainer .cartItem:nth-child(9){
    justify-self: start;
    grid-column: 1/6; 
    grid-row: 5/6;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}   


.gridCheckoutContainer{
    display:grid;
    background-color:white;
    margin: 0 auto ;
    justify-items: center;
    align-items: center;
    max-width: 700px;
    gap:10px;
    grid-template-columns:  320px 320px;
    grid-template-rows: 30px 2px 30px 30px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.gridCheckoutContainer  .CkeckoutItem:nth-child(1) {
    justify-self: start;
    grid-column: 1/3; 
    grid-row: 1/2;  
   
}

.gridCheckoutContainer  .CkeckoutItem:nth-child(2) {
    justify-self: start;
    grid-column: 1/3; 
    grid-row: 2/3;  
    
}
.gridCheckoutContainer  .CkeckoutItem:nth-child(3) {
    justify-self: start;
    grid-column: 1/3; 
    grid-row: 3/4;  
    
}

.gridCheckoutContainer  .CkeckoutItem:nth-child(4) {
    justify-self: end;
    grid-column: 2/3; 
    grid-row: 3/4;  
}

.gridCheckoutContainer  .CkeckoutItem:nth-child(5) {
    justify-self: start;
    grid-column: 1/3; 
    grid-row: 4/5;
}






.separadorResumen {
    background: rgb(33, 37, 41);
    height: 1px;
    margin: 0;
    width: 100%;
}

.prodCheckOut{
    padding-top: 10px;
}



.chakra-heading .encabezado .css-1llz29a{
    display:flex;
    width:200px;
    padding: 20px;
}

.textoCantidad{
    display:flex;
    padding: 20px;
}



.cardDetail{
    width:350px;
    
}

.CardFooterDetail{
    display:Flex;
    background-color:rgb(235, 229, 229); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
}

.tituloStock{
    background-color:rgb(33, 37, 41);
    color:white;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:50px;
    height: 40px;
    border-radius:5px; 
    
}

.counter p{
    font-size: 18px;
    padding-top: 15px;
}

.contadorCarrito{
    background-color: rgb(33, 37, 41);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.contadorCarrito h3{
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    color:white;
}


.itemCount{
    display: flex;
    justify-content: center;
}


.imgCard{
    width:150px;
    height:150px;
    
}

.imgCart{
    width:100px;
    height:100px;
}



.imgDetailCard{
    width:170px;
    height:170px;
    margin-left: 70px;
}

.descripcion{
    margin: 0px;
    text-align: center;
}

.descripcion p{
    margin-bottom: 0px;
}
  
footer{
    background-color:rgb(33, 37, 41);
    Display:Flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px; 

}

footer p{
    color: white;
    font-size: 20px;
}




@media screen and (max-width:768px) {

    .header{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 20px;
    }

    img{
        width: 150px;
        height: 45px;
    }

    .navbar-brand{
        margin-top: 20px;
    }

    .carrito{
        width: 25px;
        height: 25px;
    }

    footer p{
        padding-left: 25px;
        justify-content: center;
        font-size: 15px;
    }
    

}